<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">10. 12. Neděle</th>
            <th class="special-alert">2. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Oldřicha Mazala a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Jaroslava Šťastného, dvoje rodiče a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Vítězslava a Libuši Kratochvílovy a syny Jiřího a Pavla</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">13. 12. 2023 Středa</th>
            <th>Památka sv. Lucie, panny a mučednice</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">14. 12. 2023 Čtvrtek</th>
            <th>Památka sv. Jana od Kříže, kněze a učitele církve</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">15. 12. 2023 Pátek</th>
            <th>Pátek po 2. neděli adventní</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za Marii Jedličkovu, manžela a celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">16. 12. 2023 Sobota</th>
            <th></th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>18:00 - 19:00 Nikodémova noc</td>
            <td>Možnost soukromé adorace a svátosti smíření.</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">17. 12. Neděle</th>
            <th class="special-alert">3. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Josefa Baucha a živou a rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Povolnou, Hanušovu, Ondráčkovu, Žákovu, bratra Pavla a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Josefa Krumpolce, rodiče Krumpolcovy a Horáčkovy, sourozence a zdraví celé rodiny</td>
        </tr>
    </tbody>
</table>