<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">11. 2. 2024 Neděle</th>
            <th>6. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Miroslava Pospíšila, celou zemřelou rodinu a Boží ochranu pro živou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Čermákovu, manžela, bratra, živou rodinu a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th colspan="2">14. 2. 2024 Středa</th>
            <th>Popeleční středa - den přísného postu</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>19:00 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">15. 2. 2024 Čtvrtek</th>
            <th>Čtvrtek po Popeleční středě</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">18. 2. 2024 Neděle</th>
            <th>1. neděle postní</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Josefa a Annu Kopřivovy</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Jaroslava Povolného, rodinu Kamenickou a Dolinovu</td>
        </tr>
    </tbody>
</table>