<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">13. 8. Neděle</th>
            <th>19. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>7:30 mše sv.</td>
            <td>Za Josefa Urbana, Marii a Vladimíra Vognárkovy, živou rodinu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>9:00 mše sv.</td>
            <td>Za Terezii Pavlicovu, Alenu Siklenkovu a duše v očistci</td>
        </tr>
        <tr class="ohlasky-alert">
            <td>Žabčice</td>
            <td>10:30 mše sv., Slavnost sv. Vavřince</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <th colspan="2">15. 8. Úterý</th>
        <th>Slavnost Nanebevzetí Panny Marie</th>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">16. 8. 2023 Středa</th>
            <th>Středa 19. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Na úmysl dárce</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">17. 8. 2023 Čtvrtek</th>
            <th>Čtvrtek 19. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">18. 8. Pátek</th>
            <th>Pátek 19. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za Vavřína a Žofii Floderovy, dceru, syna a zetě</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">20. 8. Neděle</th>
            <th>20. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Marii a Stanislava Urbánkovy, bratra a rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Zdeňka Klíčníka, živou a zemřelou rodinu Klíčníkovu, Kucharských, Žákovu a duše v očistci</td>
        </tr>
        <tr class="ohlasky-alert">
            <td>Blučina</td>
            <td>10:30 mše sv., Slavnost Nanebevzetí Panny Marie</td>
            <td>Za Václava Brabce, manželku Ludmilu, Jiřinku Haňkovou a celou rodinu</td>
        </tr>
    </tbody>
</table>