<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">14. 1. 2024 Neděle</th>
            <th>2. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Růženu a Antonína Pokorných a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">17. 1. 2024 Středa</th>
            <th>Památka sv. Antonína, opata</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Danu Jankovu, sourozence a celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">18. 1. 2024 Pátek</th>
            <th>Památka Panny Marie, Matky jednoty křesťanů</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">14. 1. 2024 Neděle</th>
            <th>3. neděle v mezidobí - Božího slova</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Růženu a Antonína Pokorných a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za manžele Buchtovy, syna Viktora, dvoje rodiče a živou rodinu</td>
        </tr>
    </tbody>
</table>