<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>14. 4. 2024 Neděle</th>
            <th>3. neděle Velikonoční</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžele Kopřivovy, rodiče a sourozence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>18. 4. 2024 Čtvrtek</th>
            <th>Čtvrtek po 3. neděli velikonoční</th>
        </tr>
        <tr>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>21 4. 2024 Neděle</th>
            <th>4. neděle Velikonoční</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžela, bratra, rodiče, živou a zemřelou rodinu Konvicovu a Jolanu Sýkorovu</td>
        </tr>
    </tbody>
</table>