<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">15. 10. Neděle</th>
            <th>28. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Jaroslava Špejtka, Ludmilu a Jindřicha Ryšavých a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Navrátilovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Jana Hladůvky, rodiče, rodinu Hladůvkovu a celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">16. 10. 2023 Pondělí</th>
            <th></th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>18:00 &ndash; 19:00, Nikodémova noc</td>
            <td>Možnost soukromé adorace a svátosti smíření</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">18. 10. 2023 Středa</th>
            <th>Svátek sv. Lukáše, evangelisty</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">19. 10. 2023 Čtvrtek</th>
            <th>Čtvrtek 28. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za Jaroslava a Růženu Palánovy, Antonína Linharta a rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">20. 10. Pátek</th>
            <th>Pátek 28. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., po mši na faře náboženství pro starší mládež a středoškoláky</td>
            <td>Za manžele Vallovy a rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">22. 10. Neděle</th>
            <th>29. neděle v mezidobí - misijní neděle</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Miroslava Pospíšila a celou zemřelou rodinu.</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Karla a Terezii Kolegarovy a rodinu Kolegarovu a Odrážkovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za rodinu Drahonskou a Hanušovu</td>
        </tr>
    </tbody>
</table>