<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">16. 7. Neděle</th>
            <th>15. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za rodinu Machovu, Šikulovu, Mackovu a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>9:30 mše sv.</td>
            <td>Za P. Stanislava Bečičky, rodiče, sourozence a duše v očistci</td>
        </tr>
        <tr class="ohlasky-alert">
            <td>Měnín</td>
            <td>10:30 mše sv., Slavnost sv. Markéty</td>
            <td>Za všechny obyvatele Měnína</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>18:00 - 19:00 Nikodémova noc</td>
            <td>Možnost soukromé adorace a svátosti smíření</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">21. 7. Pátek</th>
            <th>Pátek 15. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za Františka Pochylého, vnučku, dvoje rodiče a živou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">23. 7. Neděle</th>
            <th>15. neděle v mezidobí (den prarodičů)</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Buchtovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Josefa Hlavsu, rodiče a sestru</td>
        </tr>
    </tbody>
</table>