<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">17. 12. Neděle</th>
            <th class="special-alert">3. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Josefa Baucha a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Povolnou, Hanušovu, Ondráčkovu, Žákovu, bratra Pavla a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">20. 12. 2023 Středa</th>
            <th>Středa po 3. neděli adventní</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>15:00 mše sv.</td>
            <td>DPS Žabčice - za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">21. 12. 2023 Čtvrtek</th>
            <th>Čtvrtek po 3. neděli adventní</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za rodinu Čermákovu, syna Antonína a Marii a rodinu Hytychovu a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">24. 12. Neděle</th>
            <th class="special-alert">4. NEDĚLE ADVENTNÍ, ŠTĚDRÝ DEN</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>14:00 mše sv.</td>
            <td>Za Annu a Josefa Kopřivovy</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>22:00 mše sv.</td>
            <td>Za manžele Boženu a Františka Kopřivovy, jejich rodiče a bratra Jana Židele a živou a zemřelou rodinu</td>
        </tr>
    </tbody>
</table>