<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>17. 3. 2024 Neděle</th>
            <th>5. neděle postní</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za Josefa a Andělu Ralenovských, 2 syny a živou a zemřelou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>14. 3. 2024 Čtvrtek</th>
            <th>Čtvrtek po 5. neděli postní</th>
        </tr>
        <tr>
            <td >17:30 mše sv.</td>
            <td>Za živou a zemřelou rodinu Novotnou a Sýkorovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>24. 3. 2024 Neděle</th>
            <th>Květná neděle</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za rodinu Krajíčkovu, Motalovu a Praxovu</td>
        </tr>
    </tbody>
</table>