<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">17. 9. Neděle</th>
            <th>24. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Františku a Václava Čeledovy a sourozence</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Kamenickou, Povolnou, Jana Dolinu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Jana Demala, živou a zemřelou rodinu a duše v očistci.</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">20. 9. 2023 Středa</th>
            <th>Památka sv. Ondřeje Kim Tae-gona, kněze, Pavla Chong Ha-sanga a druhů, mučedníků</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za živou a zemřelou rodinu Drábkovu a zemřelou Terezii Tycovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">21. 9. 2023 Čtvrtek</th>
            <th>Svátek sv. Matouše, apoštola a evangelisty</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">22. 9. Pátek</th>
            <th>Pátek 24. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za rodinu Justovu a Švachovu</td>
        </tr>
    </tbody>
        <tr>
            <th colspan="2">24. 9. Neděle</th>
            <th>25. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za manžela, dvoje rodiče a duše v očistci</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Aujeskou, Lauterbachovu a Navrátilovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Václava Bečičku a celou živou a zemřelou rodinu</td>
        </tr>
    </tbody>
</table>