<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th >18. 2. 2024 Neděle</th>
            <th>1. neděle postní</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za Jaroslava Povolného, rodinu Kamenickou a Dolinovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th >22. 2. 2024 Čtvrtek</th>
            <th>Svátek Stolce svatého apoštola Petra</th>
        </tr>
        <tr>
            <td >17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th >25. 2. 2024 Neděle</th>
            <th>2. neděle postní</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za rodinu Aujeskou a Lauterbachovu.</td>
        </tr>
    </tbody>
</table>