<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">20. 8. Neděle</th>
            <th>20. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Marii a Stanislava Urbánkovy, bratra a rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Zdeňka Klíčníka, živou a zemřelou rodinu Klíčníkovu, Kucharských, Žákovu a duše v očistci</td>
        </tr>
        <tr class="ohlasky-alert">
            <td>Blučina</td>
            <td>10:30 mše sv., Slavnost Nanebevzetí Panny Marie</td>
            <td>Za Václava Brabce, manželku Ludmilu, Jiřinku Haňkovou a celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">23. 8. 2023 Středa</th>
            <th>Středa 20. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Václava Čeledu, manželku a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>19:00 mše sv. s poutníky ze Znojma</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">24. 8. 2023 Čtvrtek</th>
            <th>Svátek sv. Bartoloměje, apoštola</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za živou a zemřelou rodinu Motalovu a Krajíčkovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">25. 8. Pátek</th>
            <th>Pátek 20. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">27. 8. Neděle</th>
            <th>21. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Miroslava Pospíšila, Josefa Langa a za požehnání pro živou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Aujezdskou, Strouhalovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučině</td>
            <td>10:30 mše sv.</td>
            <td>Za Jindřicha Konečného, Vlastimila Kopečka, Miroslava a Františku Širokých a rodinu Masařovu</td>
        </tr>
    </tbody>
</table>