<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">14. 1. 2024 Neděle</th>
            <th>3. neděle v mezidobí - Božího slova</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Růženu a Antonína Pokorných a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za manžele Buchtovy, syna Viktora, dvoje rodiče a živou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">24. 1. 2024 Středa</th>
            <th>Památka sv. Františka Saleského, biskupa a učitele církve</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">25. 1. 2024 Čtvrtek</th>
            <th>Svátek Obrácení sv. Pavlam apoštola</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Na úmysl dárce</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">28. 1. 2024 Neděle</th>
            <th>4. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za živou a zemřelou rodinu Langovu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Povolnou, Aujezdskou, Procházkovu a duše v očistci</td>
        </tr>
    </tbody>
</table>