<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">23. 7. Neděle</th>
            <th>16. neděle v mezidobí (den prarodičů)</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Buchtovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Josefa Hlavsu, rodiče a sestru</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">26. 7. 2023 Středa</th>
            <th>Památka sv. Jáchyma a Anny, rodičů Panny Marie</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv. NEBUDE</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">27. 7. 2023 Čtvrtek</th>
            <th>Památka sv. Gorazda a druhů</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv. </td>
            <td>Za zemřelé Jana a Vladimíra Bálku, prarodiče Bálkovy, Sedlářovy, strýce Josefa a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">28. 7. Pátek</th>
            <th>Pátek 16. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., po mši na farním dvoře oheň s opékáním špekáčků</td>
            <td>Za Františka Pelouška a rodiče</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">30. 7. Neděle</th>
            <th>17. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za živé a zemřelé členky živého růžence</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Dvořákovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Stanislava Schillera a rodiče</td>
        </tr>
    </tbody>
</table>