<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>25. 2. 2024 Neděle</th>
            <th>2. neděle postní</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za rodinu Aujeskou, Lauterbachovu a Navrátilovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th >29. 2. 2024 Čtvrtek</th>
            <th>Čtvrtek po 2. neděli postní</th>
        </tr>
        <tr>
            <td >17:30 mše sv.</td>
            <td>Za Marii a Jana Aujeských, dvoje rodiče a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>3. 3. 2024 Neděle</th>
            <th>3. neděle postní</th>
        </tr>
        <tr>
            <td >9:00 mše sv.</td>
            <td>Za Jaroslava Šťastného, dvoje rodiče a živou a zemřelou rodinu</td>
        </tr>
    </tbody>
</table>