<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">19. 11. Neděle</th>
            <th>Slavnost Ježíše Krista Krále</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Vratislava Šmerdu a rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Jana Novotného, manželku, syny a zetě</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za P. Aloise Perničky a nová povolání; Na poděkování za 90. let života s prosbou o Boží ochranu pro živou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">29. 11. 2023 Středa</th>
            <th>Středa 34. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">30. 11. 2023 Čtvrtek</th>
            <th>Svátek sv. Ondřeje, apoštola</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za Boženu a Antonína Lozartovy, jejich syna Marka a dceru Anežku a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">1. 12. Pátek</th>
            <th>Pátek 34. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., první pátek v měsíci - po mši svátostné požehnání, po mši na faře náboženství pro starší mládež a středoškoláky.</td>
            <td>Za společenství živého růžence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">19. 11. Neděle</th>
            <th class="special-alert">1. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td></td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Františka Jedličky, syna Michala, bratra Jana a dvoje rodiče.</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Josefa Kelbla, dvoje rodiče, za Josefa a Boženu Kelblovy, zdraví celé rodiny a duše v očistci</td>
        </tr>
    </tbody>
</table>