<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">27. 8. Neděle</th>
            <th>21. Neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Miroslava Pospíšila, Josefa Langa a za požehnání pro živou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Aujezdskou, Strouhalovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučině</td>
            <td>10:30 mše sv.</td>
            <td>Za Jindřicha Konečného, Vlastimila Kopečka, Miroslava a Františku Širokých a rodinu Masařovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">30. 8. 2023 Středa</th>
            <th>Středa 21. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Annu Strouhalovu a dvoje rodiče</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">31. 8. 2023 Čtvrtek</th>
            <th>Čtvrtek 21. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">1. 9. Pátek</th>
            <th>Pátek 21. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., První pátek v měsíci &ndash; po mši svátostné požehnání, po mši na farním dvoře oheň s opékáním špekáčků.</td>
            <td>Za společenství živého růžence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">3. 9. Neděle</th>
            <th>22. Neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Bohumíra Zvonka a rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Blaženu a Vojtěcha Konvicovy, živou a zemřelou rodinu a sourozence</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Stanislava a Marii Schillerovy a syna Stanislava</td>
        </tr>
    </tbody>
</table>