<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>28 4. 2024 Neděle</th>
            <th>5. neděle Velikonoční</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za Vojtěcha a Marii Odrážkovy, syna Karla, rodinu Odrážkovu a Vodičkovu a na poděkování za 80 let života</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>2. 5. 2024 Čtvrtek</th>
            <th>Památka sv. Atanáše, biskupa a učitele církve</th>
        </tr>
        <tr>
            <td>17:30 mše sv.</td>
            <td>Na úmysl dárce</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>5. 5. 2024 Neděle</th>
            <th>6. neděle Velikonoční</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Barančicovu a Novotnou.</td>
        </tr>
    </tbody>
</table>