<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">29. 10. Neděle</th>
            <th>30. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Stanislava a Marii Urbánkovy, bratra a rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Marii a Antonína Křivánkovy, dceru Marii, Petříka Hamana a za živou a zemřelou rodinu Křivánkovu a Zemanovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za rodinu Grachovu, Řídkou, živou a zemřelou rodinu a duše v očistci </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">1. 11. 2023 Středa</th>
            <th>Slavnost Všech svatých</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Karla Rába</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">2. 11. 2023 Čtvrtek</th>
            <th>Vzpomínka na všechny věrné zemřelé</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">3. 11. Pátek</th>
            <th>Pátek 30. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., První pátek v měsíci - po mši svátostné požehnání, po mši na faře na faře náboženství pro starší mládež a středoškoláky</td>
            <td>Za společenství živého růžence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">5. 11. Neděle</th>
            <th>31. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za rodinu Mackovu, Kozumplíkovu, Kochovu, Dreslerovu a Novákovu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Lozartovu, Kalvodovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Františka a Zdeňku Kuglerovy a rodinu Mahovskou </td>
        </tr>
    </tbody>
</table>