<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">3. 12. Neděle</th>
            <th class="special-alert">1. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td></td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Františka Jedličky, syna Michala, bratra Jana a dvoje rodiče.</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Josefa Kelbla, dvoje rodiče, za Josefa a Boženu Kelblovy, zdraví celé rodiny a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">6. 12. 2023 Středa</th>
            <th>Památka sv. Mikuláše</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">7. 12. 2023 Čtvrtek</th>
            <th>Památka sv. Ambrože, biskupa a učitele církve</th>
        </tr>
        <tr>
            <td rowspan="2">Měnín</td>
            <td>16:30 Mikuláš v kostele</td>
            <td></td>
        </tr>
        <tr>
            <td>17:30 mše sv.</td>
            <td><em>Za zdraví, lásku a trpělivost ve stáří a za zemřelé spolužáky a kamarády ročníku 1948</em></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">8. 12. 2023 Pátek</th>
            <th>Slavnost Panny Marie, počaté bez poskvrny prvotního hříchu</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:00 Mikuláš v kostel, po ukončení bude následovat mše sv.</td>
            <td>Za farníky; za zemřelou Boženu Pochylou</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">10. 12. Neděle</th>
            <th class="special-alert">2. NEDĚLE ADVENTNÍ</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Oldřicha Mazala a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Jaroslava Šťastného, dvoje rodiče a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Vítězslava a Libuši Kratochvílovy a syny Jiřího a Pavla</td>
        </tr>
    </tbody>
</table>