<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">3. 9. Neděle</th>
            <th>22. Neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Bohumíra Zvonka a rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Blaženu a Vojtěcha Konvicovy, živou a zemřelou rodinu a sourozence</td>
        </tr>
        <tr>
            <td>Blučině</td>
            <td>10:30 mše sv.</td>
            <td>Za Stanislava a Marii Schillerovy a syna Stanislava</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">6. 9. 2023 Středa</th>
            <th>Středa 22. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Blažeje Vejchodu a za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">7. 9. 2023 Čtvrtek</th>
            <th>Čtvrtek 22. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Na úmysl dárce</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">8. 9. Pátek</th>
            <th>Svátek Narození Panny Marie</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za dar zdraví pro celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">10. 9. Neděle</th>
            <th>23. Neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Bernarda Macka, rodiče a Josefa Čalouda</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Novotnou a Sýkorovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Jana Tomka, rodiče Minaříkovy, dceru a dva syny</td>
        </tr>
    </tbody>
</table>