<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">30. 7. Neděle</th>
            <th>17. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za živé a zemřelé členky živého růžence</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za živou a zemřelou rodinu Dvořákovu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Stanislava Schillera a rodiče</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">2. 8. 2023 Středa</th>
            <th>Středa 17. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv. NEBUDE</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">3. 8. 2023 Čtvrtek</th>
            <th>Čtvrtek 17. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv. NEBUDE</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">4. 8. Pátek</th>
            <th>Pátek 17. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., první pátek v měsíci - po mši svátostné požehnání</td>
            <td>Za farníky a společenství živého růžence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">6. 8. Neděle</th>
            <th>Svátek Proměnění Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za dvoje rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Františku Baxantovu, rodinu Brychtovu a Hanákovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Václava Minaříka, dceru Jitku, dvoje rodiče a celou živou rodinu</td>
        </tr>
    </tbody>
</table>