<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">31. 12. 2023 Neděle</th>
            <th class="special-alert">Svátek svaté rodiny</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Na poděkování za požehnání, pomoc a ochranu a duše v očistci</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Lozartovu, Kalvodovu a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">1. 1. 2024 Pondělí</th>
            <th class="special-alert">Slavnost Matky Boží Panny Marie</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td></td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">3. 1. 2024 Středa</th>
            <th>Středa po oktávu Narození Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">4. 1. 2024 Čtvrtek</th>
            <th>Čtvrtek po oktávu Narození Páně</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">7. 1. 2024 Neděle</th>
            <th class="special-alert">Slavnost Zjevení Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td></td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Josefa Novotného a duše v očistci</td>
        </tr>
    </tbody>
</table>