<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>31. 3. 2024 Neděle</th>
            <th>Slavnost Zmrtvýchvstání Páně</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za Elišku Šťastnou a za rodinu Šťastnou</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>1. 4. 2024 Pondělí</th>
            <th>Pondělí v Oktávu velikonočním</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžela Františka a celou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>4. 4. 2024 Čtvrtek</th>
            <th>Čtvrtek v Oktávu Velikonočním</th>
        </tr>
        <tr>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>7. 4. 2024 Neděle</th>
            <th>2. neděle Velikonoční (Božího milosrdenství)</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžele Kopřivovy, rodiče a sourozence</td>
        </tr>
    </tbody>
</table>