<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">5. 2. 2024 Neděle</th>
            <th>5. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Zehnalovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">7. 2. 2024 Středa</th>
            <th>Středa 5. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za rodiče Slanařovy, manžele Čermákovy a Čechovy</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">8. 2. 2024 Čtvrtek</th>
            <th>Čtvrtek 5. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Na úmysl dárce</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">5. 2. 2024 Neděle</th>
            <th>6. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Miroslava Pospíšila, celou zemřelou rodinu a Boží ochranu pro živou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Čermákovu, manžela, bratra, živou rodinu a duše v očistci</td>
        </tr>
    </tbody>
</table>