<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">6. 8. neděle</th>
            <th>Svátek Proměnění Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za dvoje rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Františku Baxantovu, rodinu Brychtovu a Hanákovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Václava Minaříka, dceru Jitku, dvoje rodiče a celou živou rodinu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">9. 8. 2023 Středa</th>
            <th>Svátek sv. Terezie Benedikty od Kříže, panny a mučednice, patronky Evropy</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Jarmilu Bartoňkovu</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">10. 8. 2023 Čtvrtek</th>
            <th>Svátek sv. Vavřince, jáhna a mučedníka</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">11. 8. Pátek</th>
            <th>Památka sv. Kláry, panny</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv., po mši na farním dvoře oheň s opékáním
                špekáčků.</td>
            <td>Za Jaroslava a Ludmilu Voškerušovy a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">13. 8. Neděle</th>
            <th>19. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>7:30 mše sv.</td>
            <td>Za Josefa Urbana, Marii a Vladimíra Vognárkovy, živou rodinu a duše v očistci</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>9:00 mše sv.</td>
            <td>Za Terezii Pavlicovu, Alenu Siklenkovu a duše v očistci</td>
        </tr>
        <tr class="ohlasky-alert">
            <td>Žabčice</td>
            <td>10:30 mše sv., Slavnost sv. Vavřince</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
</table>