<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2" class="special-alert">7. 1. 2024 Neděle</th>
            <th class="special-alert">Slavnost Zjevení Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td></td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Josefa Novotného a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">10. 1. 2024 Středa</th>
            <th>Středa po oktávu Narození Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv. NEBUDE</td>
            <td>Zapsaný úmysl - Za Stanislava Večeřu a dceru Markétu – bude
                odsloužen v kapli na faře Blučině</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">12. 1. 2024 Pátek</th>
            <th>Čtvrtek po oktávu Narození Páně</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv. NEBUDE</td>
            <td>Zapsaný úmysl - Za farníky - bude odsloužen v kapli na faře Blučině</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">14. 1. 2024 Neděle</th>
            <th>Slavnost Zjevení Páně</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Růženu a Antonína Pokorných a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td></td>
        </tr>
    </tbody>
</table>