<table class="ohlasky-new">
    <tbody>
        <tr class="ohlasky-alert">
            <th>7. 4. 2024 Neděle</th>
            <th>2. neděle Velikonoční (Božího milosrdenství)</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžele Kopřivovy, rodiče a sourozence</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>11. 4. 2024 Čtvrtek</th>
            <th>Památka sv. Stanislava, biskupa a mučedníka</th>
        </tr>
        <tr>
            <td>17:30 mše sv.</td>
            <td>Za manžele Lozartovy, děti, vnuky, dvoje rodiče a duše v očistci</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="ohlasky-alert">
            <th>14. 4. 2024 Neděle</th>
            <th>3. neděle Velikonoční</th>
        </tr>
        <tr>
            <td>9:00 mše sv.</td>
            <td>Za manžele Kopřivovy, rodiče a sourozence</td>
        </tr>
    </tbody>
</table>