<table class="ohlasky">
    <tbody>
        <tr>
            <th colspan="2">8. 10. Neděle</th>
            <th>27. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Františka a Vojtěšku Strouhalovy a dvoje rodiče</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za Josefa Palána, dvoje rodiče a živou rodinu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Jiřího Fialu, živou a zemřelou rodinu a duše v očistci.</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">11. 10. 2023 Středa</th>
            <th>Památka sv. Jana XXIII. papeže</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>17:30 mše sv.</td>
            <td>Za Stanislavu a Vladimíra Mrkvicovy, Františka Měřínského a dvoje rodiče</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">12. 10. 2023 Čtvrtek</th>
            <th>Čtvrtek 27. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>17:30 mše sv.</td>
            <td>Za farníky</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">13. 10. Pátek</th>
            <th>Pátek 27. týdne v mezidobí</th>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>17:30 mše sv.</td>
            <td>Za Vladimíra a Emílii Novotné</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th colspan="2">15. 10. Neděle</th>
            <th>28. neděle v mezidobí</th>
        </tr>
        <tr>
            <td>Přísnotice</td>
            <td>7:30 mše sv.</td>
            <td>Za Jaroslava Špejtka, Ludmilu a Jindřicha Ryšavých a živou a zemřelou rodinu</td>
        </tr>
        <tr>
            <td>Měnín</td>
            <td>9:00 mše sv.</td>
            <td>Za rodinu Navrátilovu</td>
        </tr>
        <tr>
            <td>Blučina</td>
            <td>10:30 mše sv.</td>
            <td>Za Jana Hladůvky, rodiče, rodinu Hladůvkovu a celou rodinu</td>
        </tr>
    </tbody>
</table>