.hero-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-banner.active {
    opacity: 1;
    z-index: 1;
}

.hero-banner-content {
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-banner-content * {
    z-index: 2;
}
.hero-banner h1 {
    margin-bottom: .3em;
}
.hero-banner .continue-button {
    margin-top: 2em;
}


#welcome {
    display: flex;
    background-image: url(/imgs/base/kostel-bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--blue-transparent);
    background-blend-mode: multiply;
    color: var(--bg-clr);;
}

#tri-kralove::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 5rem;
    background-image: url(/imgs/base/bd-symbol.svg);
    background-repeat: repeat;
    background-position: top left;
    z-index: 1;
    opacity: .4;
}
#tri-kralove {
    background-color: var(--blue);
    color: var(--bg-clr);
}
#tri-kralove h1 {
    color: var(--gold) !important;
}

#nove-stranky-dieceze {
    background-image: url(/imgs/banners/stranky.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--black-transparent);
    background-blend-mode: multiply;
    color: var(--bg-clr);
}

#zahajeni-jubilejniho-roku {
    background-image: url(https://cmshost01.blob.core.windows.net/cms/ih/https%3A/cmshost01.blob.core.windows.net/cms/media/dzbhpkv2.vhk/castle-7487913_1280.jpg/size%3A902%3A507%7Cresizing_type%3Afill/castle-7487913_1280.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--gold-transparent);
    background-blend-mode: multiply;
    color: var(--bg-clr);
}

#e-kosiky {
    background-image: url(https://donator.cz/media/cache/projekt_detail/images/projekty/daryfaronline1.jpg?t=6);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--blue-transparent);
    background-blend-mode: multiply;
    color: var(--bg-clr);
}