@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bg-clr: #FFFFFF;
    --bg-clr2: #f1f1f1;
    --bg-clr3: #0000003b;
    --txt-clr: #000000;
    --accent1: #1687d3;
    --accent1-var: #5cb4ee;
    --accent2: rgb(255, 166, 0); 

    --font-size: 18px;
}

/*General*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-clr2);
    font-size: var(--font-size);
    font-family: 'Open Sans', sans-serif;
}

.site-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-transform: uppercase;
    font-size: calc(var(--font-size) * 2.5);
    font-weight: bold;
    color: var(--bg-clr);
    background-color: #0000006b;
    background-image: url(/imgs/base/kostel-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.main-content {
    background-color: var(--bg-clr2);
    color: var(--txt-clr);
}

.content-container {
    width: 90vw;
    max-width: 1300px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    column-gap: 2.5em;
}

.column {
    background-color: var(--bg-clr);
    padding: 1.5em;
    box-shadow: 0 0 10px var(--bg-clr3);
    border-radius: 7px;
}

hr {
    background-color: var(--txt-clr);
    border: none;
    height: 1px;
    margin: 1em auto;
}

img {
    width: 60vw;
    max-width: 700px;
}

/*NAV*/

#nav {
    margin-bottom: 2.5em;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav-toggle-site-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.nav-site-title {
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}
.nav-site-title-link a {
    padding: 8px;
    border-radius:4px;
    text-decoration: none;
    color: var(--txt-clr);
    transition: color 75ms, background 75ms;
}
.nav-site-title-link a:hover {
    color: var(--bg-clr);
    background-color: var(--accent1);
}
.nav-site-title-link a:active {
    background-color: var(--accent1-var);
}
.nav-link {
    padding-bottom: .7em;
}
.nav-link a {
    color: var(--txt-clr);
    text-decoration: none;
}
.nav-link a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: var(--accent1);
}
.nav-link a:active {
    color: var(--accent1-var);
}
.toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.bar {
    height: 3px;
    width: 100%;
    background-color: var(--txt-clr);
    border-radius: 10px;
}
a.highlight {
    color: var(--accent1);
    font-weight: bold;
}

/*FOOTER*/

.footer-content {
    text-align: center;
}
.footer-link {
    color: var(--txt-clr);
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}
.footer-site-title {
    font-weight: bold;
}

/*PAGE-CONTENT*/

#page-content {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
main a {
    color: var(--accent1);
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}
main a:active {
    color: var(--accent1-var);
}
main p {
    margin-bottom: 1em;
}
main h1, main h2, main h3, main h4, main h5 {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: solid 4px var(--accent1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
main h1 {
    margin: .7em 0;
    font-size: calc(var(--font-size) * 2);
}
main h2 {
    margin: .7em 0;
    font-size: calc(var(--font-size) * 1.8)
}
main h3 {
    margin: .6em 0;
    font-size: calc(var(--font-size) * 1.6)
}
main h4 {
    margin: .5em 0;
    font-size: calc(var(--font-size) * 1.4)
}
main h5 {
    margin: .4em 0;
    font-size: calc(var(--font-size) * 1.2)
}
main h1:nth-of-type(1) {
    margin-top: 0;
}
main h2:nth-of-type(1) {
    margin-top: 0;
}
main h3:nth-of-type(1) {
    margin-top: 0;
}
main h4:nth-of-type(1) {
    margin-top: 0;
}
main h5:nth-of-type(1) {
    margin-top: 0;
}
main .icon-link {
    width: fit-content;
}
main .icon-link i {
    font-size: calc(var(--font-size) * 0.8);
}
main ul {
    list-style-position: inside;
}

/*SITE-INFO*/

.site-info-part-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}
.site-info-part-content p {
    margin-bottom: .7em;
}

@media (max-width:972px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    .nav-link {
        display: inline-block;
        margin-right: 10px;
    }
    #site-info {
        display: none;
    }
}

@media (max-width:432px) {
    :root {
        --font-size: 15px;
    }
    #nav-site-info {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .nav-toggle-site-title {
        justify-content: space-between;
    }
    .nav-links {
        display: none;
    }
    .nav-site-title {
        margin-bottom: 0;
        text-align: right;
    }
    .toggle {
        display: flex;
    }
    .nav.toggled {
        flex-wrap: wrap;
    }
    .nav.toggled .nav-links {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 1em;
    }
    .nav.toggled .nav-link a {
        margin-right: 0;
        display: block;
    }
    .nav.toggled .toggle .bar:nth-of-type(3) {
        display: none
    }
    .nav.toggled .toggle .bar:nth-of-type(2) {
        transform: rotate(45deg);
        position: relative;
        bottom: 10px;
    }
    .nav.toggled .toggle .bar:nth-of-type(1) {
        transform: rotate(-45deg);
        position: relative;
        top: 8px;
    }
}