* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    background-color: var(--bg-clr2);
    overflow-x: hidden;
}

body {
    background-color: var(--bg-clr2);
    font-size: var(--font-size);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::selection {
    background-color: var(--bg-clr4);
    color: var(--txt-clr);
}

a {
    color: inherit;
    text-decoration: underline;
    transition: var(--transition);
}
a:hover {
    color: var(--accent1);
}
a:active {
    color: var(--accent2);
}

h1, h2, h3, h4 {
    margin-bottom: 1em;
}
h2, h3, h4 {
    margin-top: 1em;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
}
h4 {
    font-size: var(--h4-size);
}

p {
    margin-bottom: .6em;
}

ul, ol {
    list-style-position: inside;
    margin-bottom: .6em;
}
li li {
    padding-left: .6em;
}

.continue-button {
    text-decoration: none;
    padding: .4em .5em;
    background-color: var(--bg-clr4);
    border-radius: .3em;
    border: none;
    font-size: var(--font-size);
    transition: var(--transition);
    box-shadow: var(--shadow);
    display: block;
    width: fit-content;
    cursor: pointer;
}
.continue-button:hover {
    color: var(--bg-clr);
    background-color: var(--accent1);
}
main .continue-button {  
    margin: 1em 0;
}

/* HEADER */

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 40vh;
    background-color: #0000006b;
    background-image: url(/imgs/base/kostel-bg2.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    width: 100%;
}
.header-text {
    margin: auto;
    text-transform: uppercase;
    font-size: var(--huge-size);
    font-weight: bold;
    color: var(--bg-clr);
    padding: 0 1em;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .7em;
    padding: 1em;
    width: 90vw;
    margin: 0 auto;
    font-weight: bold;
}
nav a {
    text-wrap: nowrap;
    color: var(--bg-clr);
    text-decoration: none;
    padding: .2em .25em;
    border-radius: .25em;
    transition: var(--transition);
}
nav a:hover {
    background-color: var(--accent1);
    color: var(--bg-clr);
}
nav a:active {
    background-color: var(--accent2);
    color: var(--bg-clr);
}

/* LAYOUT */

.flex-container {
    width: 90vw;
    margin: 0 auto;
    padding: 2.3em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
}

/* ASIDE */

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.3em;
}
.aside-item {
    background-color: var(--bg-clr);
    border-radius: .3em;
    width: 100%;
    box-shadow: var(--shadow);
}
.aside-item-content {
    padding: 1.5em;
}

#masses {
    font-size: var(--tiny-size);
}
#masses p {
    margin-bottom: .6em;
}
.mass, .event {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 1em;
}
.mass-left, .event-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent1);
    color: var(--bg-clr);
    font-weight: bold;
    max-width: 25px;
    padding: .3em;
    border-radius: .3em;
}
.mass-left-day, .event-left-day {
    font-size: var(--h4-size);
}
#masses > strong {
    font-size: var(--font-size);
}
#masses .continue-button {
    font-size: var(--tiny-size);
    margin: 1em 0;
}

#gallery img {
    width: 100%;
    margin: 1em 0;
    border-radius: .3em;
}

#events {
    font-size: var(--tiny-size);
}
#events > strong {
    font-size: var(--font-size);
}
.event {
    margin-top: 1em;
}
.event-left {
    background-color: var(--accent4);
}
#no-events {
    margin: 1em 0 0 0;
}

/* MAIN */

main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.main-section {
    width: 100%;
    background-color: var(--bg-clr);
    border-radius: .3em;
    box-shadow: var(--shadow);
}
.main-section-content {
    padding: 1.5em;
}
#donator img {
    width: 100%;
    border-radius: .3em;
}
#donator-small {
    display: none;
}
#donator-long {
    display: block;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: var(--accent3);
    color: var(--bg-clr);
    padding: 2em 0;
    display: flex;
    flex-direction: column;
}
.footer-content {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-copy {
    width: 90vw;
    margin: 2em auto 0 auto;
}

/* SCALING */

@media (max-width:1020px) {
    aside {
        width: 35%;
    }
    main {
        width: 65%;
    }
}

@media (max-width:970px) {
    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }
    .footer-copy {
        text-align: center;
    }
    .fb-page {
        width: 100%;
    }
}

@media (max-width:750px) {
    .flex-container {
        flex-direction: column-reverse;
    }
    main, aside {
        width: 100%;
    }
}

@media (max-width:600px) {
    #donator-long {
        display: none;
    }
    #donator-small {
        display: block;
    }
}