#hero {
    margin-top: 2.25em;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.gold-text {
    color: var(--gold);
}

h1, h2, h5 {
    width: fit-content;
    margin-top: 0;
}
h1 {
    color: inherit !important;
}

.news-card {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}
.news-card p {
    margin-bottom: 0;
}
.news-card img {
    width: auto;
    width: 120px;
    height: auto;
    margin: 0 auto 1.5em auto;
    display: block;
    border-radius: .3em;
}
.news-card strong{
    display: block;
    margin-bottom: .6em;
}
.row-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@media (max-width:1000px) {
    .row-section {
        grid-template-columns: 1fr;
    }
}