.page-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3em;
    margin-bottom: 2em;
}
.page-card img {
    max-width: 200px;
    height: auto;
    border-radius: .3em;
}
.page-card strong a {
    text-decoration: none;
}

.pagination-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.pagination-buttons .continue-button.selected {
    cursor: auto;
    background-color: var(--accent1);
    color: var(--bg-clr);
}

.event-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}
.event-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-clr6);
    color: var(--bg-clr);
    font-weight: bold;
    width: 32px;
    padding: .3em;
    border-radius: .3em;
}
.event-card.future .event-time {
    background-color: var(--accent4);
}
.event-time-day {
    font-size: var(--h3-size);
}
.event-time-month {
    font-size: var(--h4-size);
}
.event-info {
    display: flex;
    flex-direction: column;
    gap: .2em;
}
.event-title {
    font-size: var(--h4-size);
    font-weight: bold;
}
.event-links span {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.gallery-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}
.gallery-card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: .3em;
    box-shadow: var(--shadow);
    text-decoration: none;
}
.gallery-titimg {
    width: 100%;
    height: 60%;
}
.gallery-titimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
.gallery-info {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (max-width:520px) {
    .page-card {
        flex-direction: column;
    }
    .page-card img {
        max-width: 100%;
        max-height: 20vh;
        width: auto;
        margin: 0 auto;
    }
}