#main-content img {
    max-width: 500px;
    max-height: 50vw;
    width: auto;
    margin: 2em auto;
    display: block;
    border-radius: .3em;
}

/* TABLES */

table {
    border: 2px solid var(--txt-clr);
    border-collapse: collapse;
    font-size: var(--font-size);
}
td, th {
    border: 1px solid var(--txt-clr);
    padding: .6em;
}
th {
    color: var(--accent1);
}