<table id="nabozenstvi">
    <thead>
        <tr>
            <th>Den</th>
            <th>Čas</th>
            <th>Třída</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">Pondělí</td>
            <td>13:00 &ndash; 13:45</td>
            <td>3. třída</td>
        </tr>
        <tr>
            <td>14:00 &ndash; 14:45</td>
            <td>4. - 6. třída</td>
        </tr>
        <tr>
            <td rowspan="2">Čtvrtek</td>
            <td>12:30 &ndash; 13:15</td>
            <td>1. třída</td>
        </tr>
        <tr>
            <td>13:30 &ndash; 14:15</td>
            <td>2. třída</td>
        </tr>
    </tbody>
</table>