<table class="sluzby-skupiny">
    <thead>
        <tr>
            <th>Skupina</th>
            <th>Složení</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>pí. Ralenovská, pí. Vudiová</td>
        </tr>
        <tr>
            <td>2</td>
            <td>pí. Novotňáková, pí. Šidlová</td>
        </tr>
        <tr>
            <td>3</td>
            <td>pí. Kubíčková, pí. Chmelíková</td>
        </tr>
        <tr>
            <td>4</td>
            <td>pí. Bálková, pí. Misáková</td>
        </tr>
        <tr>
            <td>5</td>
            <td>pí. Hutáková, pí. Křivánková</td>
        </tr>
        <tr>
            <td>6</td>
            <td>pí. Černá, pí. Vlastička</td>
        </tr>
        <tr>
            <td>7</td>
            <td>pí. Florianová, pí. Horňáková</td>
        </tr>
        <tr>
            <td>8</td>
            <td>pí. Odrážková, pí. Pokorná</td>
        </tr>
        <tr>
            <td>9</td>
            <td>pí. Umlášková, p. Baxant</td>
        </tr>
    </tbody>
</table>