{{define "styles"}}
    <link rel="stylesheet" href="/css/gallery.css">
{{end}}
{{define "scripts"}}
    <script src="/js/gallery.js" defer></script>
{{end}}
{{define "main"}}
    <h1>{{.Title}}</h1>
    <p class="gallery-date">{{.Date | time.Format "2. 1. 2006"}}</p>
    {{.Content}}
    <div class="gallery">
        {{$imgsPath := (printf "imgs/gallery/%s" .Params.gallery )}}
        {{$imgs := readDir (printf "static/%s" $imgsPath)}}
        {{range $index, $img := $imgs}}
            {{if ne $img.Name ".DS_Store"}}
                {{$imgURL := (printf "/%s/%s" $imgsPath $img.Name)}}
                <div class="gallery-item">
                    <img src="{{$imgURL}}">
                </div>
            {{end}}
        {{end}}
    </div>
    <dialog id="gallery-view">
        <div class="gallery-view">
            <div class="gallery-view-top">
                <div class="gallery-view-top-navigation">
                    <button class="go-left-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button class="go-right-btn">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                <div class="gallery-view-top-untoggle">
                    <button class="gallery-view-untoggle-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
            <div class="gallery-view-content">
                <div class="gallery-view-img">
                    <img src="">
                </div>
            </div>
        </div>
    </dialog>
{{end}}