{{define "styles"}}
    <link rel="stylesheet" href="/css/home.css">
{{end}}
{{define "main"}}
    {{$pages := where .Site.Pages ".Params.type" "news"}}
    {{with index $pages 0}}
        <section class="hero-section">
            <div class="hero-news-card">
                <img src="{{.Params.titimg}}">
                <div>
                    <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
                    <p>{{.Params.show}}</p>
                    <a class="continue-button" href="{{.RelPermalink}}">Číst dále &rarr;</a>
                </div>
            </div>
        </section>
    {{end}}
    <section class="row-section">
        {{with index $pages 1}}
        {{partial "news-card.html" .}}
        {{end}}
        {{with index $pages 2}}
        {{partial "news-card.html" .}}
        {{end}}
        {{with index $pages 3}}
        {{partial "news-card.html" .}}
        {{end}}
    </section>
{{end}}