<!DOCTYPE html>
<html lang="cs">
<head>
    {{partial "head.html" .}}
    {{partial "home-style.html" .}}
</head>
<body>
    <div class="site-header">
        Římskokatolická farnost Měnín
    </div>
    <div class="main-content">
        <div class="content-container">
            <div id="nav-site-info">
                <div class="column" id="nav">
                    {{partial "nav.html" .}}
                </div>
                <div class="column" id="site-info">
                    {{partial "site-info.html" .}}
                </div>
            </div>
            <div class="column" id="page-content">
                <main id="home-main">
                    {{.Content}}
                </main>
                <footer>
                    {{partial "footer.html" .}}
                </footer>
            </div>
        </div>
    </div>
</body>
</html>