<!DOCTYPE html>
<html lang="cs">
<head>
    {{partial "head.html" .}}
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    {{partial "site-header" .}}
    <div class="main-content">
        <div class="content-container">
            <div id="nav-site-info">
                <div class="column" id="nav">
                    {{partial "nav.html" .}}
                </div>
                <div class="column" id="site-info">
                    {{partial "site-info.html" .}}
                </div>
            </div>
            <div class="column" id="page-content">
                <main>
                    {{.Content}}
                    {{if eq .Params.list "full"}}
                        {{range .Pages}}
                            {{.Content}}
                        {{end}}
                    {{end}}
                    {{if eq .Params.list "links"}}
                        <ul class="list-links">
                            {{range .Pages}}
                                <li><a href="{{.URL}}">{{.Title}}</a></li>
                            {{end}}
                        </ul>
                    {{end}}
                    {{if eq .Params.list "gallery"}}
                        <div class="galleries-container">
                            <h4>2019</h4>
                            <div class="galleries">
                                {{range where .Pages ".Params.imgseries" "==" 2019}}
                                    {{partial "gallery-card.html" .}}
                                {{end}}
                            </div>
                            <h4>2018</h4>
                            <div class="galleries">
                                {{range where .Pages ".Params.imgseries" "==" 2018}}
                                    {{partial "gallery-card.html" .}}
                                {{end}}
                            </div>
                        </div>
                    {{end}}
                </main>
                <footer>
                    {{partial "footer.html" .}}
                </footer>
            </div>
        </div>
    </div>
</body>
</html>