<!DOCTYPE html>
<html lang="cs">
<head>
    {{partial "head.html" .}}
    {{partial "single-style" .}}
</head>
<body>
    {{partial "site-header" .}}
    <div class="main-content">
        <div class="content-container">
            <div id="nav-site-info">
                <div class="column" id="nav">
                    {{partial "nav.html" .}}
                </div>
                <div class="column" id="site-info">
                    {{partial "site-info.html" .}}
                </div>
            </div>
            <div class="column" id="page-content">
                <main>
                    {{.Content}}
                    {{if eq .Params.list "full"}}
                        {{range .Pages}}
                            {{.Content}}
                        {{end}}
                    {{end}}
                    {{if eq .Params.list "links"}}
                        <ul class="list-links">
                            {{range .Pages}}
                                <li><a href="{{.URL}}">{{.Title}}</a></li>
                            {{end}}
                        </ul>
                    {{end}}
                </main>
                <footer>
                    {{partial "footer.html" .}}
                </footer>
            </div>
        </div>
    </div>
</body>
</html>