<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" sizes="16x16" href="/imgs/base/logo.jpg">

<link rel="stylesheet" href="/css/base.css">

<script type="text/javascript" src="/js/nav.js" defer></script>
<script type="text/javascript" src="/js/nav-highlight.js" defer></script>
<script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>

<title>{{.Title}}</title>