<div class="nav">
    <div class="nav-toggle-site-title">
        <a class="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-site-title">
            <div class="nav-site-title-link">
                <a href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
            </div>
        </div>
    </div>
    <div class="nav-links">
        {{range .Site.Menus.main}}
            <div class="nav-link">
                <a href="{{.URL}}">{{.Name}}</a>
            </div>
        {{end}}
        <!-- <div class="nav-site-title" style="margin: .5em 0 0 0;">
            <div class="nav-site-title-link">
                <a class="" href="https://www.trikralovasbirka.cz/">Tříkrálová sbírka <i class="fa-solid fa-arrow-up-right-from-square"></i> </a>
            </div>
        </div> -->
    </div>
</div>