<div class="site-info-part">
    <p class="site-info-part-heading">Pravidelné bohoslužby</p>
    <div class="site-info-part-content">
        <p>
            <strong>Mše svaté</strong>:<br>
            Neděle &mdash; 9:00<br>
            Čtvrtek &mdash; 17:30
        </p>
        <p>
            <strong>Eucharistická adorace</strong>:<br>
            Čtvrtek &mdash; 17:00
        </p>
        <p>
            <strong>Svátost smíření</strong>:<br>
            Neděle &mdash; 8:30<br>
            Čtvrtek &mdash; 17:00 <br>
            jindy dle domluvy
        </p>
    </div>
</div>