<div class="site-info-part">
    <p class="site-info-part-heading">Pravidelné bohoslužby</p>
    <div class="site-info-part-content">
        <p>
            Neděle &mdash; 9:00<br>
            Čtvrtek &mdash; 17:30
        </p>
        <p>
            <strong>Svátost smíření</strong>:<br>
            Čtvrtek &mdash; 17:00 <br>
            <em>jindy dle domluvy</em>
        </p>
        <p>
            <strong>Adorační den farnosti</strong>:<br>
            11. říjen
        </p>
    </div>
</div>