<!DOCTYPE html>
<html lang="cs">
<head>
    {{partial "head.html" .}}
    <link rel="stylesheet" href="/css/single.css">
</head>
<body>
    {{partial "site-header.html" .}}
    <div class="main-content">
        <div class="content-container">
            <div id="nav-site-info">
                <div class="column" id="nav">
                    {{partial "nav.html" .}}
                </div>
                <div class="column" id="site-info">
                    {{partial "site-info.html" .}}
                </div>
            </div>
            <div class="column" id="page-content">
                <main>
                    <h1>Error 404: Stránka nenalezena!</h1>
                    <p>Zdá se, že jste narazili na stránku, která (zatím) neexistuje, nebo jste kliknuly na rozbitý odkaz.</p>
                    <p><a href="{{.Site.BaseURL}}">Vrátit se domů</a></p>
                </main>
                <footer>
                    {{partial "footer.html" .}}
                </footer>
            </div>
        </div>
    </div>
</body>
</html>